:root {
    --navbar-bg: #051254;
    --navbar-text-color: #ffffff;
    --button-bg:#051254;
    --button-text-color:#ffffff;
    --h1:#000000;
  }

.h1{
    color: var(--h1);
}
#navbar_color{
    background-color: var(--navbar-bg);
    color: var(--navbar-text-color);
}
#navbar_logo{
    font-size: 28px;
}
#navbar_links{
    margin-top: 2px;
    font-size: 20px;
}
.btn-color{
    background-color: var(--button-bg);
    color: var(--button-text-color);
}